.label-quotas{
  color: blue;
  font-style: italic;
  font-size: 0.8rem;
}
.sky-days{
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}
ion-checkbox {
  margin-right: 8px;
}
ion-spinner{
  margin-left: 45%;
}
.label-no-edit{
  color: red;
}
