
ion-spinner{
  margin-left: 45%;
}
.ion-opacity-50 {
  opacity: 0.5;
}

.option-round {
  border-radius: 12px;
  margin: 4px;
  padding: 8px 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
