// http://ionicframework.com/docs/theming/

@use "swiper/scss" as *;
@use "swiper/scss/autoplay" as *;
@use "swiper/scss/pagination" as *;
@use "@ionic/angular/css/ionic-swiper" as *;

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@use "theme/custom-ion-colors.scss" as *;
// Add base app styles
@use "theme/app-defaults.scss" as *;
// Add base shell styles
@use "theme/shell-defaults.scss" as *;

@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




ion-item-option{
    margin-right: 2px;
}
.text-center{
    text-align: center !important;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
ion-toolbar {
  padding-top: 20px !important;

}
.main-application{
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: #fff;
}
@media (min-width: 768px) {
  .main-application{
    max-width: 600px;
  }
}
